<div class="card flex justify-content-center">
    <p-toast></p-toast>
    <p-card header="Modify" subheader="edit your user" [style]="{ width: '360px',margin: 'auto' }">
        <ng-template pTemplate="header">
            <p-image [src]="url" alt="Image" width="250" [preview]="true"></p-image>
        </ng-template>
        <form [formGroup]="formUser">
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    @
                </span>
                <input pInputText placeholder="Email" formControlName="email" />
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                </span>
                <input pInputText placeholder="Username" formControlName="name" />
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                </span>
                <input pInputText placeholder="Surname" formControlName="surname" />
            </div>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="pi pi-user"></i>
                </span>
                <input pInputText placeholder="Nick" formControlName="nick" />
            </div>
            <div class="p-inputgroup" id="inputFile">
                <p-fileUpload name="image" accept="image/*" (onSelect)="onUpload($event)" (onClear)="onClear($event)"
                    [fileLimit]="1" chooseLabel="Image" [auto]="true" [showUploadButton]="false"
                    [style]="{ width: '100%' }"></p-fileUpload>
            </div>
        </form>
        <ng-template pTemplate="footer">
            <p-button label="Save" (click)="onSubmit()" icon="pi pi-check"></p-button>
            <p-button label="Cancel" (click)="onCancel()" icon="pi pi-times" styleClass="p-button-secondary"
                [style]="{ 'margin-left': '.5em' }"></p-button>
        </ng-template>
    </p-card>
</div>